---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: 'Pingfang SC', 'Source Sans Pro', 'Work Sans',  "Microsoft YaHei", "微软雅黑", Helvetica Neue, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #60c17d;

// $grey-color:       #828282;
$grey-color:       #FAFAFA;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 15%);

// Width of the content area
$content-width:    650px;
$on-palm:          600px;
$on-laptop:        900px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@font-face {
    font-family: "MFDingDing_Noncommercial-Regular";
    src: url("fonts/MFDingDing_Noncommercial-Regular.eot"); /* IE9 */
    src: url("fonts/MFDingDing_Noncommercial-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/MFDingDing_Noncommercial-Regular.woff") format("woff"), /* chrome, firefox */
    url("fonts/MFDingDing_Noncommercial-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("fonts/MFDingDing_Noncommercial-Regular.svg#MFDingDing_Noncommercial-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "style"
;
